name: "DAST - OWASP ZAP"

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Pull ZAP Docker Image
        run: docker pull ghcr.io/zaproxy/zaproxy:stable

      - name: Run ZAP Baseline Scan
        run: |
          docker run --rm \
            -t ghcr.io/zaproxy/zaproxy:stable \
            zap-baseline.py \
            -t https://sast-demo.vercel.app/ \
            -r zap_report.html

      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: zap_report.html